{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Value1-Heptre</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'images/logos/value1.jpeg' %}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/styles.min.css' %}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tabler-icons@1.35.0/iconfont/tabler-icons.min.css">
  <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.26/dist/sweetalert2.min.css" rel="stylesheet">
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="index.html" class="text-nowrap logo-img mt-4">
            <img src="{% static 'images/logos/value1-logo.png' %}" width="180" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <div class="unlimited-access hide-menu bg-light-primary position-relative mb-7 mt-5 rounded">
            <div class="d-flex">
              <div class="unlimited-access-title me-3">
                <h6 class="fw-semibold fs-4 mb-6 text-dark w-85">Welcome Admin!</h6>
              </div>
              <div class="unlimited-access-img">
                <img src="{% static 'images/backgrounds/rocket.png' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Home</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="index.html" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Dashboard - Admin</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                <i class="ti ti-bell-ringing"></i>
                <div class="notification bg-primary rounded-circle"></div>
              </a>
            </li>
          </ul>
          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
              <li class="nav-item dropdown">
                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="{% static 'images/profile/user-1.jpg' %}" alt="" width="35" height="35" class="rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                  <div class="message-body">
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-user fs-6"></i>
                      <p class="mb-0 fs-3">My Profile</p>
                    </a>
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-mail fs-6"></i>
                      <p class="mb-0 fs-3">My Account</p>
                    </a>
                    <a href="login.html" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!--  Header End -->
      <div class="container-fluid">
        <!-- Welcome Card -->
        <div class="d-flex mb-4">
          <div class="unlimited-access-title me-3">
            <h2 class="fw-semibold fs-4 mb-6 text-dark w-85">Command Center of Admin</h2>
          </div>
        </div>
        <!--  Row 2 Table-->
        <div class="row">
          <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100">
              <div class="card-body p-4">
                <!-- Table-Admin--Value1--FieldNames -->
                
                <h5 class="card-title fw-semibold mb-4 text-center">Value1-User Management</h5>
                <div class="table-responsive">
                  <table class="table text-nowrap mb-0 align-middle">
                    <thead class="text-dark fs-4 text-center">
                      <tr>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">S.No</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Name</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Nickname</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Address</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Birthdate</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Email</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Phone_Number</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Preferred User_Name</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Family_Name</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Gender</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Given_Name</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">UpdatedAt</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Website</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Upload File</h6>
                        </th>
                      </tr>
                    </thead>
                    <tbody class="text-center">
                      {% for user in users %}
                        <tr>
                          <!-- Field1: SNo -->
                          <td class="border-bottom-0" id="sno"><h6 class="fw-semibold mb-0">{{ forloop.counter }}</h6></td>
                          <!-- Field1: Name -->
                          <td class="border-bottom-0">
                              <p class="fw-semibold mb-0" id="name">{{ user.name }}</p>
                              <!-- <span class="fw-normal" id="desig">Admin1</span>-->
                          </td>
                          <!-- Field2: NickName -->
                          <td class="border-bottom-0">
                            <p class="mb-0 fw-normal" id="nickname">{{ user.nickname }}</p>
                          </td>
                          <!-- Field3: Address -->
                          <td class="border-bottom-0">
                            <div class="d-flex align-items-center gap-2">
                              <p class="mb-0 fw-normal" id="address">{{ user.address }}</p>
                            </div>
                          </td>
                          <!-- Field4: Birthdate -->
                          <td class="border-bottom-0">
                            <h6 class="mb-0 fw-normal" id="birthdate">{{ user.birthdate }}</h6>
                          </td>
                          <!-- Field5: Email -->
                          <td class="border-bottom-0">
                            <h6 class="mb-0 fw-normal" id="emailcon">{{ user.email }}</h6>
                          </td>
                          <!-- Field6: Contact -->
                          <td class="border-bottom-0">
                            <h6 class="mb-0 fw-normal" id="contactno">{{ user.phone_number }}</h6>
                          </td>
                          <!-- Field7: Preferred User_Name -->
                          <td class="border-bottom-0">
                            <h6 class="mb-0 fw-normal" id="pre-user">{{ user.preferred_username }}</h6>
                          </td>
                          <!-- Field8: FamilyName -->
                          <td class="border-bottom-0">
                            <h6 class="mb-0 fw-normal" id="fam-name">{{ user.family_name }}</h6>
                          </td>
                          <!-- Field9: Gender -->
                          <td class="border-bottom-0">
                            <h6 class="mb-0 fw-normal" id="gender">{{ user.gender }}</h6>
                          </td>
                          <!-- Field10: GivenName -->
                          <td class="border-bottom-0">
                            <h6 class="mb-0 fw-normal" id="given-name">{{ user.given_name }}</h6>
                          </td>
                          <!-- Field11: UpdatedAt -->
                          <td class="border-bottom-0">
                            <h6 class="mb-0 fw-normal" id="updatedat">{{ user.updated_Date }}</h6>
                          </td>
                          <!-- Field12: Website URL -->
                          <td class="border-bottom-0">
                            <h6 class="mb-0 fw-normal" id="website"><a href="{{ user.website }}" target="_blank" class="pe-1 text-primary text-decoration-underline">{{ user.website }}</a></h6>
                          </td>
                          <td class="border-bottom-0">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#uploadModal{{ user.sub }}">Upload</button>
                          </td>
                        </tr>
                      {% endfor %}

                      <tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modals -->
        <!-- <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form id="upload-form" enctype="multipart/form-data">
                  {% csrf_token %}
                  <input type="file" id="file-input" name="file" accept=".pdf" />
                  <button type="button" class="btn btn-primary upload-button">Upload</button>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div> -->
        {% for user in users %}
        <div class="modal fade" id="uploadModal{{ user.sub }}" data-bs-backdrop="static" data-bs-keyboard="false" data-user-sub="{{ user.sub }}" data-user-username="{{ user.username }}" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel{{ user.sub }}" aria-hidden="true">
          <form class="upload-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header d-flex justify-content-center">
                  <h1 class="modal-title fs-5 " id="staticBackdropLabel">Grant Letter Generation</h1>
                </div>
                <div class="modal-body d-flex flex-column align-items-center justify-content-center">
                    <button type="button" class="btn btn-success m-2" onclick="generateGrantLetter('{{ user.username }}','{{ user.sub }}')">Generate File</button>
                    <h6 id="status_{{ user.sub }}"></h6>
                    <div class="flex-row justify-content-center mt-5 conditional-buttons_{{ user.sub }}" style="display: none;">
                        <button type="button" class="btn btn-primary m-2 btn-sm" onclick="callDjangoRoute()">Preview File</button>
                        <button type="button" class="btn btn-outline-danger m-2 btn-sm upload-button">Upload File</button>
                    </div>
                    <div>
                      <button type="button" class="btn btn-danger d-flex flex-column align-items-center justify-content-center" data-bs-dismiss="modal" aria-label="Close">Close</button>
                    </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        {% endfor %}
        <!-- <div class="modal fade" id="uploadModal{{ user.sub }}" data-user-sub="{{ user.sub }}" data-user-username="{{ user.username }}" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel{{ user.sub }}" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form class="upload-form" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-md-12">
                      <div class="d-flex align-items-center justify-content-center ">
                        <button type="button" class="btn btn-success m-2" onclick="generateGrantLetter('{{ user.sub }}')">Generate Grant Letter</button>
                        <br/>
                        <h3 id="status_{{ user.sub }}">Status: {{ status }}</h3>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="align-items-center justify-content-center conditional-buttons_{{ user.sub }}" style="display: none;">
                        <button type="button" class="btn btn-primary m-3" onclick="callDjangoRoute()">Preview</button>
                        <button type="button" class="btn btn-outline-danger upload-button m-3">Upload</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div> -->

        <!-- Modals -->
        <!-- Footer -->
        <footer class="footer py-6 px-6 text-center">
          <p class="mb-0 fs-4">Developed by <a href="https://heptre.com/" target="_blank" class="pe-1 text-primary text-decoration-underline">HeptreTechworks</a></p>
        </footer>
      </div>
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.26/dist/sweetalert2.all.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/tabler-icons@1.35.0/icons-react/dist/index.umd.min.js"></script>
  <!-- <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script> -->
  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <!-- <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="{% static 'js/sidebarmenu.js' %}"></script>
  <script src="{% static 'js/app.min.js' %}"></script>
  <!-- <script>
    $(document).ready(function() {
        // Use event delegation to handle all upload button clicks
        $(document).on('click', '.upload-button', function() {
            // Extract the modal ID from the button's data-target attribute
            var modalId = $(this).data('target');
            // Show the corresponding modal
            $(modalId).modal('show');
        });
    });
  </script> -->
  <!-- <script>
    var uploadButtons = document.querySelectorAll('.upload-button');

    uploadButtons.forEach(function(uploadButton) {
        uploadButton.addEventListener('click', function() {
            var fileInput = document.createElement('input');
            fileInput.type = 'file';

            fileInput.click();

            fileInput.addEventListener('change', function() {
                var selectedFile = fileInput.files[0];
                console.log('Selected file:', selectedFile);
                uploadFileToServer(selectedFile);
            });
        });
    });

    function uploadFileToServer(file) {
        var formData = new FormData();
        formData.append('file', file);

        fetch('/upload', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            console.log('Server response:', data);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script> -->
<!-- <script>
  document.addEventListener("DOMContentLoaded", function() {
    const uploadButton = document.querySelector(".upload-button");
    const fileInput = document.getElementById("file-input");
    const uploadForm = document.getElementById("upload-form");
  
    uploadButton.addEventListener("click", function() {
      const formData = new FormData(uploadForm);
  
      // Make sure you replace 'YOUR_UPLOAD_URL' with the actual URL for your Django upload endpoint.
      fetch("/upload", {
        method: "POST",
        body: formData,
        headers: {
          "X-CSRFToken": getCookie("csrftoken")  // Fetch CSRF token from cookies
        }
      })
      .then(response => response.json())
      .then(data => {
        // Handle the response from the server
        console.log(data);
      })
      .catch(error => {
        console.error("Error:", error);
      });
    });
  
    // Function to get CSRF token from cookies
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== "") {
        const cookies = document.cookie.split(";");
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.startsWith(name + "=")) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
  });
  </script> -->
  <script>
    function callDjangoRoute() {
        // Redirect to the Django route URL
        window.open('preview', '_blank'); // Replace with the actual URL of your Django route
    }
  </script>
  <script>
    function generateGrantLetter(username,sub) {
    console.log('Function called with username:', username);

    $.ajax({
        type: 'POST',
        url: 'generate', // Verify that this URL is correct
        headers: {
              "X-CSRFToken": getCookie("csrftoken")
        },
        data: {
                'username': username,
        },
        success: function(response) {
            console.log('Response:', response);
            console.log('Status is true');
            $('#status_' + sub).text('File Generated');
            $('.conditional-buttons_' + sub).css('display', 'flex');
        },
        error: function (jqXHR, textStatus, errorThrown) {
                  console.error("AJAX Error:", textStatus, errorThrown);
                  console.log("Response:", jqXHR.responseText);
                  const response = JSON.parse(jqXHR.responseText);
                  Swal.fire({
                    title: 'Error!',
                    text: response.msg,
                    icon: 'error',
                    confirmButtonText: 'Close'
                  })
        }
    });
}
</script>

<!-- <script>
  document.addEventListener("DOMContentLoaded", function() {
    const uploadButtons = document.querySelectorAll(".upload-button");

    uploadButtons.forEach(uploadButton => {
      uploadButton.addEventListener("click", function() {
        const modal = this.closest(".modal");
        const userId = modal.id.replace("uploadModal", "");
        const fileInput = modal.querySelector(".file-input");
        const uploadForm = modal.querySelector(".upload-form");

        const formData = new FormData(uploadForm);
        formData.append("user_id", userId);
        
        // Get user.sub and user.username from data attributes
        const userSub = modal.getAttribute("data-user-sub");
        const userName = modal.getAttribute("data-user-username");
        
        formData.append("user_sub", userSub);
        formData.append("user_username", userName);

        fetch("/dashboard", {
          method: "POST",
          body: formData,
          headers: {
            "X-CSRFToken": getCookie("csrftoken")
          }
        })
        .then(response => response.json())
        .then(data => {
          // Handle the response from the server
          console.log(data);

          // Refresh the /dashboard route
          //window.location.reload();

          // Close the modal after successful upload
          modal.style.display = "none";
          document.body.classList.remove("modal-open");
          modal.removeAttribute("aria-modal");
          modal.removeAttribute("role");
          modal.setAttribute("aria-hidden", "true");
          let timerInterval
          Swal.fire({
            title: 'Auto close alert!',
            html: 'I will close in <b></b> milliseconds.',
            timer: 2000,
            timerProgressBar: true,
            didOpen: () => {
              Swal.showLoading()
              const b = Swal.getHtmlContainer().querySelector('b')
              timerInterval = setInterval(() => {
                b.textContent = Swal.getTimerLeft()
              }, 100)
            },
            willClose: () => {
              clearInterval(timerInterval)
            }
          }).then((result) => {
            /* Read more about handling dismissals below */
            if (result.dismiss === Swal.DismissReason.timer) {
              console.log('I was closed by the timer')
              window.location.reload();
            }
          })
        })
        .catch(error => {
          console.error("Error:", error);
        });
      });
    });

    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== "") {
        const cookies = document.cookie.split(";");
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.startsWith(name + "=")) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
  });
</script> -->


<script>
  $(document).ready(function () {
    $(".upload-button").click(function () {
        const modal = $(this).closest(".modal");
        const userId = modal.attr("id").replace("uploadModal", "");
        const uploadForm = modal.find(".upload-form");
        let timerInterval;

        // Check if uploadForm is an HTML form element
        if (uploadForm[0] instanceof HTMLFormElement) {
            const formData = new FormData(uploadForm[0]); // Use [0] to access the DOM element

            formData.append("user_id", userId);

            // Get user.sub and user.username from data attributes
            const userSub = modal.data("user-sub");
            const userName = modal.data("user-username");

            formData.append("user_sub", userSub);
            formData.append("user_username", userName);

            $.ajax({
                type: "POST",
                url: "/dashboard", // Replace with your Django URL
                data: formData,
                headers: {
                    "X-CSRFToken": getCookie("csrftoken")
                },
                processData: false,
                contentType: false,
                success: function (data) {
                    // Handle the response from the server
                    console.log(data);

                    // Close the modal after successful upload
                    modal.hide();
                    $("body").removeClass("modal-open");
                    modal.removeAttr("aria-modal");
                    modal.removeAttr("role");
                    modal.attr("aria-hidden", "true");

                    Swal.fire({
                        title: 'Uploaded Successfully!',
                        html: 'This alert will closed in <b></b> milliseconds.',
                        timer: 2000,
                        timerProgressBar: true,
                        didOpen: function () {
                            Swal.showLoading();
                            var b = Swal.getHtmlContainer().querySelector('b');
                            var timerInterval = setInterval(function () {
                                b.textContent = Swal.getTimerLeft();
                            }, 100);
                        },
                        willClose: function () {
                            clearInterval(timerInterval);
                        }
                    }).then(function (result) {
                        if (result.dismiss === Swal.DismissReason.timer) {
                            console.log('Upload alert Closed!');
                            window.location.reload();
                        }
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                  console.error("AJAX Error:", textStatus, errorThrown);
                  console.log("Response:", jqXHR.responseText);
                  const response = JSON.parse(jqXHR.responseText);
                  Swal.fire({
                    title: 'Upload Error!',
                    text: response.msg,
                    icon: 'error',
                    confirmButtonText: 'Close'
                  })
                }
            });
        } else {
            console.error("The selected element is not an HTML form.");
        }
    });
});


</script>


<script>
  function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== "") {
        const cookies = document.cookie.split(";");
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.startsWith(name + "=")) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
</script>
  

</body>

</html>